<nav>
  <!-- Logo -->
  <a href="../index.html" class="logo"
    ><img
      src="../assets/logo/left_lightmode.png"
      id="nav-logo"
      alt="Rise Real Estate Logo"
  /></a>
  <!-- Navigation Links -->
  <ul id="nav-links">
    <li class="link">
      <a href="../explore.html"
        ><i class="fa-solid fa-building"></i>&nbsp;&nbsp;&nbsp;Explore</a
      >
    </li>
    <li class="link">
      <a href="../contact.html"
        ><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Contact</a
      >
    </li>
    <li class="link">
      <a href="../about.html"
        ><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;&nbsp;About</a
      >
    </li>
  </ul>
  <!-- Account links -->
  <ul id="nav-links-right">
    <li class="link">
      <a class="link" href="../account.html#saved"
        ><i class="fa-solid fa-heart"></i>&nbsp;&nbsp;&nbsp;Properties Saved</a
      >
    </li>
    <li class="link dropdown account">
      <a class="link" href="../account.html"
        ><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Account&nbsp;&nbsp;<i
          class="fa-solid fa-caret-down"
        ></i
      ></a>
      <ul class="dropdown-menu">
        <li class="link view-account">
          <a href="../account.html">View Account</a>
        </li>
        <li class="link">
          <a id="signout" class="danger" href="#">Sign out</a>
        </li>
        <li class="link login">
          <a href="../log-in.html">Log in</a>
        </li>
        <li class="link signup">
          <a href="../sign-up.html">Sign up</a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Toggle -->
  <input type="checkbox" id="darkmode" name="darkmode" /><label for="darkmode"
    >Toggle</label
  >
</nav>
